In [2]:
import pandas as pd

df_train = pd.read_csv('syntheticData15_300.csv')

y_train = df_train.iloc[:, -1]

y_train = pd.DataFrame(y_train)
y_train

      marker
0          0
1          1
2          0
3          1
4          1
...      ...
9995       1
9996       1
9997       0
9998       1
9999       1

[10000 rows x 1 columns]

In [3]:
X_train = df_train.iloc[:, 0:127]

X_train = pd.DataFrame(X_train)
X_train

,R1-PA1:VH,R1-PM1:V,R1-PA2:VH,R1-PM2:V,R1-PA3:VH,R1-PM3:V,R1-PA4:IH,R1-PM4:I,R1-PA5:IH,R1-PM5:I,...,control_panel_log2,control_panel_log3,control_panel_log4,relay1_log,relay2_log,relay3_log,relay4_log,snort_log1,snort_log2,snort_log3
0,153.651733,130363.657204,69.095751,131851.394081,137.171022,130738.332279,-160.812836,437.290994,-3.745554,483.621034,...,0,0,0,0,0,0,0,0,0,0
1,-11.850061,132705.240112,164.671415,131404.472664,161.721145,131153.704332,-20.742824,404.592752,-39.153386,373.203015,...,0,0,0,0,0,0,0,0,0,0
2,-131.154075,132499.004211,132.122674,131677.535160,174.793244,130657.921488,-125.757751,519.880829,46.971835,266.442829,...,0,0,0,0,0,0,0,0,0,0
3,150.739319,131996.679496,-20.110476,129248.303179,41.466585,131695.633432,185.225104,575.853955,137.174593,317.229520,...,0,0,0,0,0,0,0,0,0,0
4,-205.786341,130751.730410,-15.995540,130379.911843,191.776776,131456.900481,49.015432,504.801198,164.506756,423.106420,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,-103.317872,132822.203076,-142.988206,135364.590044,28.472905,131078.330649,159.078003,404.175102,171.219706,461.473275,...,0,0,0,0,0,0,0,0,0,0
9996,200.399353,132737.390468,-109.913126,136928.732232,-54.500154,131470.246027,-16.985062,306.807764,193.794179,223.229817,...,0,0,0,0,0,0,0,0,0,0
9997,204.943546,132685.544571,-50.524622,135856.957367,102.846273,132000.870009,50.517074,331.652887,-64.416093,510.982839,...,0,0,0,0,0,0,0,0,0,0
9998,-28.307879,131319.071602,-157.715797,135407.407056,122.168795,132003.481507,7.013942,558.244161,189.851676,282.218760,...,0,0,0,0,0,0,0,0,0,0
9999,114.432672,130645.510170,2.779678,130628.228658,220.159973,130082.646765,-62.879353,269.510607,-132.863888,301.985317,...,0,0,0,0,0,0,0,0,0,0

In [4]:
df_test = pd.read_csv('preData15.csv')

y_test = df_test.iloc[:, -1]

y_test = pd.DataFrame(y_test)
y_test

      marker
0          0
1          0
2          0
3          0
4          0
...      ...
4961       0
4962       0
4963       0
4964       0
4965       0

[4966 rows x 1 columns]

In [5]:
X_test = df_test.iloc[:, 0:127]

X_test = pd.DataFrame(X_test)
X_test

,R1-PA1:VH,R1-PM1:V,R1-PA2:VH,R1-PM2:V,R1-PA3:VH,R1-PM3:V,R1-PA4:IH,R1-PM4:I,R1-PA5:IH,R1-PM5:I,...,control_panel_log2,control_panel_log3,control_panel_log4,relay1_log,relay2_log,relay3_log,relay4_log,snort_log1,snort_log2,snort_log3
0,113.239379,132236.4260,-6.755172,131584.5210,-126.732535,132286.5725,116.327621,286.01782,-6.388479,295.17332,...,0,0,0,0,0,0,0,0,0,0
1,66.468834,128049.1899,-53.525717,127447.4314,-173.503080,128124.4097,56.029543,576.79650,-64.469211,579.17693,...,0,0,0,0,0,1,0,0,0,0
2,91.810757,133038.7706,-28.149416,132988.6241,-148.172615,133113.9904,100.479608,284.73605,-22.580267,294.80710,...,0,0,0,0,0,0,0,0,0,0
3,136.891076,131985.6933,16.907985,131358.8615,-103.086567,132035.8398,136.174879,340.76771,16.191787,340.95082,...,0,0,0,0,0,0,0,0,0,0
4,67.259516,116841.4382,-52.729306,116289.8263,-172.729587,116891.5847,47.108590,1101.58976,-73.493296,1107.44928,...,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4961,-43.533333,131785.1071,-163.499236,131760.0339,76.501325,131860.3269,-45.498579,364.57201,-165.200921,364.57201,...,0,0,0,0,0,0,0,0,0,0
4962,-57.983329,126795.5264,-177.954962,126770.4531,62.039870,126870.7462,-66.589155,768.69578,172.637913,773.45664,...,0,0,0,0,0,0,1,0,0,0
4963,153.930841,132311.6458,33.947749,131684.8140,-86.052531,132361.7923,154.732982,279.24275,34.938966,278.87653,...,0,0,0,0,0,0,0,0,0,0
4964,-51.904247,131108.1288,-171.870150,131083.0556,68.118952,131183.3486,-51.325559,459.78921,-176.511108,487.80504,...,0,0,0,0,0,0,0,0,0,0
4965,-132.330332,130406.0773,107.698877,130406.0773,-12.301404,130506.3704,-131.929262,424.81520,104.238212,445.50663,...,0,0,0,0,0,0,0,0,0,0

In [6]:
from sklearn.ensemble import RandomForestClassifier

#Create a Gaussian Classifier
clf=RandomForestClassifier(n_estimators=100)

#Train the model using the training sets y_pred=clf.predict(X_test)
clf.fit(X_train,y_train)

y_pred=clf.predict(X_test)

/local/pkg/python/root-python-3.7/lib/python3.7/site-packages/ipykernel_launcher.py:7: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  import sys

In [7]:
from sklearn import metrics
# Model Accuracy, how often is the classifier correct?
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.3809907370116794

In [ ]:
import pandas as pd

df_train = pd.read_csv('syntheticData15_300.csv')

y_train = df_train.iloc[:, -1]

y_train = pd.DataFrame(y_train)

In [ ]:
X_train = df_train.iloc[:, 0:127]

X_train = pd.DataFrame(X_train)

In [ ]:
import pandas as pd

df_test = pd.read_csv('preData15.csv')

y_test = df_test.iloc[:, -1]

y_test = pd.DataFrame(y_test)

In [ ]:
X_test = df_test.iloc[:, 0:127]

X_test = pd.DataFrame(X_test)